/* Base and cleanup */

body{
    background-color: grey;
}

.noBorder {
    border: None;
}

.noUnderline {
    text-decoration: None;
}

.clickable {
    cursor: pointer;

}

.linker {
  padding: 2px;
}

.clickable:hover {
    color: red;
    cursor: pointer;
}

#content {
   width: 90%;
   background-color: white; 
   padding: 10px;
   border-left: 3px solid #494943;
   border-right: 3px solid #494943; 
   margin:0 auto;

}

#header {
    width: 90%;
    margin:0 auto;
    background-color: white;
    border-top: 3px solid #494943;
    border-left: 3px solid #494943;
    border-right: 3px solid #494943; 
    border-bottom: 1px dotted #494943; 
    padding: 10px;
}

#footer {
    margin:0 auto;
    width: 90%;   
    background: rgb(255, 255, 153);
    padding: 10px;
    border-left: 3px solid #494943;
    border-right: 3px solid #494943; 
    border-bottom: 3px solid #494943;
    border-top: 1px dotted #494943;

}

#title {
   font-size: 250%; 
   background-color: white;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 2px;
   padding-bottom: 2px;  
   border: 1px dotted #494943;
}

h1 {
  font-size: 110%;
  border-bottom: 1px solid black
}

#rss {
    padding: 2px;
    float: right;
}

#rss a {
    text-decoration: None;
    color: white;
}

div.feedEntry {
  /*padding: 10px;*/
  /*margin-bottom: 10px;*/
}

div.feedTitle {
  background-color:#F2F2FF;
  border: 1px solid #DDDDEE;
  font-size: 90%;
  padding: 2px;
}

div.feedDate {
  float: right;
  margin-top: 4px;
  color: #778899;
}

div.feedBody {
  border-bottom: 1px solid #DDDDEE;
  padding: 10px;
  display: none;
  background-color: white;
}

span.extract {
 color: #778899;
}

