/* Base and cleanup */

body{
    background-color: grey;
}

.noBorder {
    border: None;
}

.noUnderline {
    text-decoration: None;
}

.clickable {
    cursor: pointer;

}

.linker {
  padding: 2px;
}

.clickable:hover {
    color: red;
    cursor: pointer;
}

#content {
   width: 90%;
   background-color: white; 
   padding: 10px;
   border-left: 3px solid #494943;
   border-right: 3px solid #494943; 
   margin:0 auto;

}

#header {
    width: 90%;
    margin:0 auto;
    background-color: white;
    border-top: 3px solid #494943;
    border-left: 3px solid #494943;
    border-right: 3px solid #494943; 
    border-bottom: 1px dotted #494943; 
    padding: 10px;
}

#footer {
    margin:0 auto;
    width: 90%;   
    background: rgb(255, 255, 153);
    padding: 10px;
    border-left: 3px solid #494943;
    border-right: 3px solid #494943; 
    border-bottom: 3px solid #494943;
    border-top: 1px dotted #494943;

}

#title {
   font-size: 250%; 
   background-color: white;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 2px;
   padding-bottom: 2px;  
   border: 1px dotted #494943;
}

h1 {
  font-size: 110%;
  border-bottom: 1px solid black
}

#rss {
    padding: 2px;
    float: right;
}

#rss a {
    text-decoration: None;
    color: white;
}

#entries {
  width: 100%;
  background-color:#F2F2FF;
  border: 1px solid #DDDDEE;
}

td {
}

td.feedTitle {
  text-align: left;
  vertical-align : middle;
  width: 90%;
}

tr.feedEntry {
  font-size: 90%;
  height: 8px;
}

td.feedLink {
  text-align: right;
  vertical-align : middle;
  width: 2%;
}

td.feedDate {
  text-align: right;
  vertical-align : middle;
  color: #778899;
}

td.feedBodyContainer {
 border-top: 1px solid #DDDDEE;

}

div.feedBody {
  border-bottom: 1px solid #DDDDEE;
  border-left: 1px solid #DDDDEE; 
  border-right: 1px solid #DDDDEE; 
  padding: 10px;   
  background-color: white;    
  display: None;
}

span.extract {
 color: #778899;
}

